name: Check for External Repo Release

on:
  schedule:
    - cron: '30 */12 * * *'
  push: {branches: ["master", "main"]}

jobs:
  check-release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check for release in another repo
      run: |
        # Use GitHub API to check for releases
        LATEST_RELEASE=$(curl -s https://pypi.org/pypi/parsedmarc/json | jq -r .info.version)
        THIS_RELEASE=$(curl -s "https://api.github.com/repos/${{ github.repository }}/releases/latest" | jq -r .tag_name)
             
        # Check if this release tag is recorded in your repo
        if [[ "$LATEST_RELEASE" != "$THIS_RELEASE" ]]; then
          curl \
            -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/${{ github.repository }}/releases" \
            -d  "{ \"tag_name\": \"$LATEST_RELEASE\", \"name\": \"$LATEST_RELEASE\", \"body\": \"automatic update\", \"draft\": false, \"prerelease\": false }"
        fi